/* Reset {{{ */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
/* }}} */
/* Layout {{{ */
html
{
    background: #f5f5f5;
}

body
{
    margin: 0 15%;
    font : 80%/2em Verdana, Arial, sans-serif;
}

html, body
{
    height: 100%;
}

#page
{
    max-width: 1024px;
    min-height: 100%;
    margin: auto;
    padding: 0 20px;
    background: white;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#message
{
    margin: 20px 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    text-align: center;
    color: #4c4c4c;
}

#navigation
{
    text-align: center;
}

#navigation li
{
    display: inline;
    margin-right: 6%;
    list-style: none;
}

#navigation li a
{
    font-size: 1.8em;
    display: inline-block;
}

#footer
{
    clear: both;
    margin: 20px 0 5px;
    padding: 5px;
    text-align: center;
}
/* }}} */
/* Text {{{ */
h1
{
    padding: 15px;
    text-align: center;
    font-size: 3em;
}

h2
{
    font-size: 2em;
    margin: 0.75em 0;
}

h3
{
    font-size: 1.5em;
    line-height: 1;
    margin: 1em 0;
}

h1, h2, h3
{
    font-family: Arial monospace;
}

a
{
    text-decoration: none;
    color: #09c;
}

a:hover
{
    border-bottom: 1px solid #09c;
}

acronym
{
    border-bottom: 1px dotted #09c;
}

p
{
    margin: 10px 0;
}

ul, ol
{
    margin: 1.5em;
}

ul
{
    list-style-type: disc;
}
/* }}} */
/* Table {{{ */
table
{
    width: 95%;
    margin: 10px auto;
}

table caption
{
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

td
{
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 5px;
    text-align: center;
    font-size: 11px;
    min-width: 150px;
}

thead td
{
    color: #333;
    font-size: 11px;
    font-weight: bold;
}

tbody td
{
    color: #555;
}

tr.odd
{
    background-color:#F0F0FF;
}
/* }}} */
/* Form {{{ */
label
{
    display: block;
    text-align: right;
    width: 160px;
    float: left;
    cursor: pointer;
}

fieldset
{
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    padding: 10px;
}

fieldset .error
{
    background: #FFEBE8;
    border: 1px solid #DD3C10;
    margin-bottom: 10px;
}

fieldset .errorlist
{
    margin: 5px 0 0 160px;
    color: #333;
    font-weight: bold;
}

input, textarea
{
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 3px;
}

textarea
{
    width: 95%;
}

input[type=submit]
{
    background: #1E90FF;
    border: 1px outset #999;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    padding: 4px 6px;
}

input[type=submit]:hover
{
    background: #1874CD;
    cursor: pointer;
}
/* }}} */
/* Billet {{{ */
.published
{
    display: block; 
    text-align: center;
    float: left;
    margin-top: -5px;
    font-size: 0.9em;
}

.published span
{
    display: block;
}

.published .big
{
    font-size:2em;
}

.post
{
    min-height: 90px;
    margin-left: 35px; 
    padding-left: 10px; 
    border-left: 1px solid #ccc; 
}

.post h3
{
    margin-bottom: 0;
}
/* }}} */
/* Pagination {{{ */
.pagination
{
    text-align: center;
}

.pagination a, .pagination .current
{
    margin: 0 2px;
    padding: .25em .5em;
}

.pagination .current
{
    font-weight: bold;
    color: black;
}
/* }}} */
/* Thumbs {{{ */
.thumb
{
    float: left;
    padding: 15px;
    height: 145px;
    width: 100px;
    text-align: center;
}

.thumb img
{
    position: relative;
    top: 40%;
    margin: -50% auto 0;
}

.thumb a
{
    position: relative;
    top: 50%;
}
/* }}} */
/* CV {{{ */
.col {margin-left: 140px;}
/* }}} */
/* Boxes {{{ */
.info
{
    border: 1px solid #D4DAE8;
    background-color: #ECEFF6;
    color: #333;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
/* }}} */
/* Tools {{{ */
.fleft {float: left;}
.right {text-align: right;}
.left {text-align: left;}
.orange {color: #EF9700;}
.green {color: green;}
.red {color: red;}
.bold {font-weight: bold;}
.hide {display: none;}
.cleaner {clear: both;}
/* }}} */
